.container {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    background-color: rgba(253, 164, 164, 0.877);
    color: rgb(0, 87, 248);
    border-radius: 2%;
}

.icon img{
    height: 20px;
}

h2, label{
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    margin: 2%;
}

.texto {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}